html,body{width:100%;min-height:100%;font:1rem Microsoft YaHei,SimHei,SimSun,Arial,Verdana;}body{-webkit-touch-callout:none;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(255,255,255,0);background:#fff;}a{text-decoration:none;outline:0}ol,ul{list-style:none}
*{margin: 0;
    padding: 0;
    border: 0;
}
table, table td {
    border-collapse: collapse;
}
table {
    border-spacing: 0px;
    width: 100%;
}
select{
    -webkit-user-select: auto;
    padding: 0;
    outline: medium;
    margin-left: 3%;
}
input{outline: none;background:#fff;}
.content{max-width:640px;width:100%;height:auto;margin:0 auto;position:relative;margin-bottom: 20px;}
.header{position:relative;height:34px;line-height:34px;text-align:center;font-size:1rem;background-color:#f45248;color:#fff;position:relative}
.header i{position:absolute;
    margin-left: 10px;
    margin-top: 12px;
    left:0px;top:0px;border-top:2px solid #fff;border-left:2px solid #fff;width:8px;height:8px;    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.main{background:#f6f6f6;}
.top{background:#f45248;color:#fff;font-size: 12px;text-align:center;padding-top: 10px;    padding-bottom: 20px;}
.top h2{
    font-weight:500;
}
.top a{color:#fff;font-size:15px;display:inline-block;height:35px;line-height:35px;border:1px solid #fff;border-radius: 18px;padding:0 15px;}
.tixian{margin-top:30px;}
.detail-list{margin-top: 15px;
    padding: 0 10px;
    background: #fff;
    margin-bottom: 50px;
}
.detail-list h3{
    background: url(../images/js_tititle_line_e82f820.png) no-repeat center center;
    background-size: 90%;
    padding: 10px 0;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 500;
}