   html,body{background:#f3f2f7;width:100%;min-height:100%;font:1rem Microsoft YaHei,SimHei,SimSun,Arial,Verdana;}body{-webkit-touch-callout:none;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(255,255,255,0);}a{text-decoration:none;outline:0}ol,ul{list-style:none}
    *{margin: 0;
        padding: 0;
        border: 0;
    }
    table, table td {
        border-collapse: collapse;
    }
    table {
        border-spacing: 0px;
        width: 100%;
    }
    select{
        -webkit-user-select: auto;
        padding: 0;
        outline: medium;
        margin-left: 3%;
    }
    ul,li{list-style: none;}
    input{outline: none; -webkit-appearance: none;}
    .content{padding-top: 50px;max-width:640px;width:100%;height:auto;margin:0 auto;position:relative;margin-bottom: 20px;}
    .psw-box{width:80%;border:1px solid #f9f9fb;border-right:none;height:50px;position:relative;margin:0 auto;}
    .psw-box ul{
        display: flex;
        display: -webkit-flex;
        width:100%;
        height:50px;
        background:#fff;
        position:relative;
        z-index:50;
    }
    .psw-box ul>li{
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        flex: 1 auto;
        border-right:1px solid #eee;
        line-height:31px;
        text-align: center;
    }
   .psw-box span{font-weight:900;font-size:32px;opacity: 0;}
   .psw-box .opy{opacity: 1;}
   .psw-box input{width:100%;height:45px;position:absolute;top:0;z-index: 100;display:none;}
   p{text-align:center;margin-bottom: 15px;font-size:1.2rem;}
   .psw-box .active{background:url(../images/T1nYJhXalXXXXXXXXX.gif) no-repeat;background-position: center center;}
     
 #Off{
 height:40px;
 background:#fff;
 border-radius: 4px;
 margin-bottom: 5px;
 }
 #Off span{display:inline-block;border-bottom: 1px solid #ddd;width:100%;height:39px;background:url(../images/hide-icon.png) no-repeat;background-position:center center;background-size:15% 90%;}
 .keybord-box{position:fixed;
 max-width:640px;
 width:100%;
 height:258px;
 bottom:0;
 background:#d1d1db;
 z-index: 99;
  transition-duration: .4s;
 transition-property: transform;
 -webkit-transform: translate3d(0,0,0);
 -webkit-transition-property: transform;
 transform: translate3d(0,0,0);
 }
.content .anima {
    transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
}
 .keybord-box ul{width:100%;height:100%;}
 .keybord-box ul li{display:flex;display:-webkit-flex;padding-left:5px;}
 .keybord-box ul li span{
        -moz-box-flex: 1;
        -webkit-box-flex: 1;
        box-flex: 1;
        flex: 1 auto;
        background:#fff;
        margin:0 5px 5px 0;
        font-family: 方正舒体 Regular;
        font-size: 29px;
        border-radius: 5px;
        text-align: center;
        padding:5px 0;
        -webkit-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        }
.keybord-box ul li span:active{background:#b8b9b9;}
.keybord-box .NULL{background:#b8b9b9;}
 #delete b{display:inline-block;width:100%;height:100%;background:url(../images/delect1.png) no-repeat;background-position:center center;background-size:100%;}
  
  