html,body{width:100%;min-height:100%;font:1rem Microsoft YaHei,SimHei,SimSun,Arial,Verdana;}body{-webkit-touch-callout:none;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(255,255,255,0)}a{text-decoration:none;outline:0}ol,ul{list-style:none}
*{margin: 0;
    padding: 0;
    border: 0;
}

input{outline: none;background:#fff;}
input[type="radio"]{-webkit-appearance:radio;outline:none; }
input[type="text"]{-webkit-appearance:none;outline:none;font-family: 宋体 Regular;}
.content{max-width:640px;width:100%;height:auto;margin:0 auto;background:#f1f1f1;}
.header{position:relative;height:34px;line-height:34px;text-align:center;font-size:1rem;background-color:#f63c30;color:#fff;position:relative}
.header i{float: left;
    margin-left: 10px;
    margin-top: 12px;
    left:0px;top:0px;border-top:2px solid #fff;border-left:2px solid #fff;width:8px;height:8px;    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.main{width:100%;}
.Dr-img img{width:100%;height:auto;}
table, table td {
    border-collapse: collapse;
}
table {
    border-spacing: 0px;
    width: 100%;
}

.send-code span{font-size:0.8rem;color:#f63c30;}
.btn-wrap{text-align:center;margin-top:20px;}
.btn-wrap span{font-size: 1rem;display:inline-block;    width: 100%;line-height:2.3rem;text-align:center;height:2.3rem;background:#f74c50;color:#fff;border:none;}

.select_box span{margin:0 15px 0 5px;}

table{    width: 94%;
    margin: 15px 3%;
}
tr{line-height:45px;}
.Dr-form td:first-child{min-width:50px;max-width: 51px;}
.bind-user-box td:first-child{width: 108px;}
td{border-bottom: 1px solid #ddd;}
td input{padding-left:10px;width:91%;line-height:35px;font-size: 1rem;}
.btn-wrap{position: fixed;max-width: 640px;width: 100%;bottom:0px;}
.Color{color:#fff;background:orange;pointer-events: none;}
.bind-user-box{
    background:#fff;
}
.content .show{ display:block;-webkit-animation: anim 1s forwards; animation: anim 1s forwards;}
@-webkit-keyframes anim{
    from{height:0px;opacity:0;}to{height:276px;opacity:1;}
}
@keyframes anim{
    from{height:0px;opacity:0;}to{height:276px;opacity:1;}
}
.Dr-form{background:#fff;}
.gongshang-bank{background:url(../images/gongshang-bank.png) no-repeat;background-size:50% 50%;}

.shade-layer {
    position: fixed;
    max-width: 640px;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255,255,255,0);
    z-index: 500;
    display: none;
}
 .con4_tang5 {
    width: 78.125%;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 20%;
    background-color: #FFF;
    box-sizing: border-box;
    z-index: 6;
    text-align: center;
    padding-bottom: 3%;
    min-width: 320px;
    min-height: 50%;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px #222;
}
.con4_tan_p1 {
    font-size: 20px;
    color: #333;
    line-height: 2.5em;
    position: relative;
    z-index: 600;
    background: #fff;
}
.tang5_ul {
    padding: 2% 2% 0 2%;
    margin-top: 42px;
}
.optiscroll-content ul{
	display: flex;
	display: -webkit-flex;
	padding: 2% 2% 0 2%;
}
.optiscroll-content ul li{
	moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    flex: 1 auto;
    border-bottom: 1px solid #ddd;
}
.optiscroll-content ul li:first-child{text-align:left;}
.optiscroll-content ul li:nth-child(2){text-align:right;}
.tang5_ul li{line-height:42px;border-bottom: 1px solid #ddd;}
.optiscroll-content ul img{
            width: 58%;
		    vertical-align: middle;
		    height:40px;
		    margin-left:10px;
	}
.optiscroll-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.con3_p7{position:absolute;
		bottom:0;
		height:45px;
		background:#f6f6f6;
		width: 100%;
	    z-index: 999;
	    line-height: 45px;
	    }
.con3_p7 a{display:inline-block;width:100%;height:45px;color:#333;font-size:15px;}
.Select{display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 25px;
    vertical-align: middle;
    background: url(../images/O-SELECT.png) no-repeat;
    background-size: 100%;
    }
.Select input{opacity:0;}
.single-bc .ON{background: url(../images/SELECT-ON-icon.png) no-repeat;
    background-size: 100%;}
.img-bc{display:none;
    width: 39%;
    height: 42px;
    }
 #bc-ID{display:none;

 }
