html,body{width:100%;min-height:100%;font:1rem Microsoft YaHei,SimHei,SimSun,Arial,Verdana;}body{-webkit-touch-callout:none;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(255,255,255,0)}a{text-decoration:none;outline:0}ol,ul{list-style:none}
*{margin: 0;
    padding: 0;
    border: 0;
}
input{outline: none;background:#fff;}
.content{max-width:640px;width:100%;height:auto;margin:0 auto;}
.header{position:relative;height:34px;line-height:34px;text-align:center;font-size:1rem;background-color:#f63c30;color:#fff;position:relative}
.header i{float: left;
    margin-left: 10px;
    margin-top: 12px;
    left:0px;top:0px;border-top:2px solid #fff;border-left:2px solid #fff;width:8px;height:8px;    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.main{width:100%;}
.Dr-img img{width:100%;height:auto;}
.Dr-form{height:100px;}
.dr-list{margin-left:5%;
         background:#fff;
         float: left;
         width: 94%;
         border-bottom: solid 1px #ededed;
}
.dr-list li{margin:8px 0;
            line-height: 2rem;
            text-align:left;
            float:left;
           }
.dr-list li:first-child{width:28%;color: #333;}
.dr-list li:nth-child(2){width: 70%;
    text-align: right;
    position: relative;
}
.inp{width:100%;}
.send-code{font-size:0.8rem;color:#f63c30;}
.btn-wrap{text-align:center;margin-top:20px;}
.btn-wrap button{font-size: 1rem;display:inline-block;width:90%;height:2.3rem;background:#f63c30;color:#fff;border:none;border-radius:3px;}

.select_box span{margin:0 15px 0 5px;}

