<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowhealth.mobile.dao.BankInforMapper">
  <resultMap id="BaseResultMap" type="com.nowhealth.mobile.entity.BankInfor">
    <id column="BankId" jdbcType="INTEGER" property="bankid" />
    <result column="baseinforOrderNo" jdbcType="VARCHAR" property="baseinfororderno" />
    <result column="amountMoney" jdbcType="REAL" property="amountmoney" />
    <result column="Starts" jdbcType="VARCHAR" property="starts" />
    <result column="payee" jdbcType="VARCHAR" property="payee" />
    <result column="bankNumber" jdbcType="VARCHAR" property="banknumber" />
    <result column="bankPhoneNo" jdbcType="VARCHAR" property="bankphoneno" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    BankId, baseinforOrderNo, amountMoney, Starts, payee, bankNumber, bankPhoneNo, createTime, 
    updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nowmb_bankinfor
    where BankId = #{bankid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nowmb_bankinfor
    where BankId = #{bankid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nowhealth.mobile.entity.BankInfor">
    insert into nowmb_bankinfor (BankId, baseinforOrderNo, amountMoney, 
      Starts, payee, bankNumber, 
      bankPhoneNo, createTime, updateTime
      )
    values (#{bankid,jdbcType=INTEGER}, #{baseinfororderno,jdbcType=VARCHAR}, #{amountmoney,jdbcType=REAL}, 
      #{starts,jdbcType=VARCHAR}, #{payee,jdbcType=VARCHAR}, #{banknumber,jdbcType=VARCHAR}, 
      #{bankphoneno,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nowhealth.mobile.entity.BankInfor">
    insert into nowmb_bankinfor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bankid != null">
        BankId,
      </if>
      <if test="baseinfororderno != null">
        baseinforOrderNo,
      </if>
      <if test="amountmoney != null">
        amountMoney,
      </if>
      <if test="starts != null">
        Starts,
      </if>
      <if test="payee != null">
        payee,
      </if>
      <if test="banknumber != null">
        bankNumber,
      </if>
      <if test="bankphoneno != null">
        bankPhoneNo,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bankid != null">
        #{bankid,jdbcType=INTEGER},
      </if>
      <if test="baseinfororderno != null">
        #{baseinfororderno,jdbcType=VARCHAR},
      </if>
      <if test="amountmoney != null">
        #{amountmoney,jdbcType=REAL},
      </if>
      <if test="starts != null">
        #{starts,jdbcType=VARCHAR},
      </if>
      <if test="payee != null">
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null">
        #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="bankphoneno != null">
        #{bankphoneno,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nowhealth.mobile.entity.BankInfor">
    update nowmb_bankinfor
    <set>
      <if test="baseinfororderno != null">
        baseinforOrderNo = #{baseinfororderno,jdbcType=VARCHAR},
      </if>
      <if test="amountmoney != null">
        amountMoney = #{amountmoney,jdbcType=REAL},
      </if>
      <if test="starts != null">
        Starts = #{starts,jdbcType=VARCHAR},
      </if>
      <if test="payee != null">
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="banknumber != null">
        bankNumber = #{banknumber,jdbcType=VARCHAR},
      </if>
      <if test="bankphoneno != null">
        bankPhoneNo = #{bankphoneno,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BankId = #{bankid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nowhealth.mobile.entity.BankInfor">
    update nowmb_bankinfor
    set baseinforOrderNo = #{baseinfororderno,jdbcType=VARCHAR},
      amountMoney = #{amountmoney,jdbcType=REAL},
      Starts = #{starts,jdbcType=VARCHAR},
      payee = #{payee,jdbcType=VARCHAR},
      bankNumber = #{banknumber,jdbcType=VARCHAR},
      bankPhoneNo = #{bankphoneno,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where BankId = #{bankid,jdbcType=INTEGER}
  </update>
</mapper>